.header {

}

.header .header-bar {
    position: relative;
    height: 36px;
    background-color: #f4f4f4;
}

.header-notice {
    position: relative;
    width: 1100px;
    margin: 0 auto;
    overflow: hidden;
}

.header .header-bar .header-notice .coll-desc {
    color: #444;
    font-size: 13px;
    line-height: 36px;
    text-align: center;
}

.header .header-bar .header-notice .coll-desc strong {
    font-weight: 700;
    padding: 0 10px;
}

.header .header-top {
    height: 100px;
    background-color: #fff;
}

.header .header-top .header-logo {
    float: left;
    margin-top: 30px;
    overflow: hidden;
}

.header .header-top .header-logo img {
    float: left;
    width: 176px;
    height: 40px;
    overflow: hidden;
    display: block;
    border: none;
}

.header .header-top .header-search {
    position: relative;
    float: left;
    width: 481px;
    height: 40px;
    background-color: #FF6434;
    margin: 30px 0 0 65px;
    border-radius: 4px;
}

.header .header-top .header-search .search-input-box {
    position: relative;
    float: left;
    width: 379px;
    height: 36px;
    background-color: #fff;
    margin: 2px 0 2px 2px;
    border-radius: 2px 0 0 2px;
    overflow: hidden;
}

.header .header-top .header-search .search-input-box i {
    position: absolute;
    top: 10px;
    left: 12px;
    width: 16px;
    height: 17px;
    background: url(/img/search-btn-1e49dbf095.png) center no-repeat;
    background-size: auto auto;
    background-size: 16px 17px;
}

.header .header-top .header-search .search-input-box .search-type {
    height: 36px;
    width: 341px;
    padding-left: 36px;
    border: 0;
    color: #bfbfbf;
}

.header .header-top .header-search-btn {
    float: left;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 16px;
}

.header .header-nav {
    position: relative;
    height: 40px;
}

.header .header-nav .header-inner {
    position: relative;
    height: 40px;
    background-color: #444;
}

.header .header-nav .header-inner .header-nav-left {
    width: 960px;
    height: 40px;
}

.header .header-nav .header-inner .header-nav-left .nav-item {
    position: relative;
    float: left;
    height: 40px;
    padding: 0 25px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    line-height: 40px;
    color: #fff;
    cursor: pointer;
}
.header .header-nav .header-inner .header-nav-left .active {
    background-color: #FF472B;
}

.header .header-nav .header-inner .header-nav-left .nav-index {
    width: 220px;
    padding: 0;
    margin-right: 25px;
}