<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>关于我们-钻群联盟</title>
    <link rel="stylesheet" href="__CSS__/common.css">
    <link rel="stylesheet" href="__CSS__/header.css">
    <link rel="stylesheet" href="__CSS__/help.css">
    <link rel="stylesheet" href="__CSS__/footer.css">
    <link rel="stylesheet" href="__COM__/layui/css/layui.css">
</head>
<body>

<div class="body">
    <!-- header -->
    {include file="default/common/header" /}


    <!-- banner -->
    <div class="banner">
        <div class="banner-bg"></div>
    </div>



    <!-- footer -->
    {include file="default/common/footer" /}
</div>

</body>
</html>