<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>选品库-钻群联盟</title>
    <link rel="stylesheet" href="__HOT_CSS__/base.css">
    <link rel="stylesheet" href="__HOT_CSS__/header.css">
    <link rel="stylesheet" href="__HOT_CSS__/index.css">
    <link rel="stylesheet" href="__HOT_CSS__/footer.css">
    <script src="__HOT_JS__/jquery.js"></script>
    <script src="__HOT_JS__/index.js"></script>
    <link rel="stylesheet" href="__CSS__/footer.css">
    <link rel="stylesheet" href="__COM__/page.css">
</head>
<body>
<!--header 中部开始-->
{include file="default/common/header" /}
<!--body 开始-->
<div class="body">
    <div class="center">
        <div class="nav">
            <div class="nav-wrap">
                <a href="/" class="active">选品直播</a>
                <a href="/">领券直播</a>
                <a href="/">领券直播</a>
            </div>
        </div>
        <div class="class_box">
            <div class="class_b">
                <div class="cb_o">
                    <span>所有分类</span><span class="spec">></span><span>共48.90万商品</span>
                </div>
                <div class="cb_t">
                    <div class="ct_left"><span>相关分类：</span></div>
                    <div class="ct_middle">
                        <ul>
                            <li>连衣裙</li>
                            <li>针织衫</li>
                            <li>休闲裤</li>
                            <li>毛衣</li>
                            <li>毛呢外套</li>
                            <li>半身裙</li>
                            <li>T恤</li>
                            <li>棉衣/棉服</li>
                            <li>连衣裙</li>
                            <li>针织衫</li>
                            <li>休闲裤</li>
                            <li>毛衣</li>
                            <li>毛呢外套</li>
                            <li>半身裙</li>
                            <li>T恤</li>
                            <li>棉衣/棉服</li>
                            <li>连衣裙</li>
                            <li>针织衫</li>
                            <li>休闲裤</li>
                            <li>毛衣</li>
                            <li>毛呢外套</li>
                            <li>半身裙</li>
                            <li>T恤</li>
                            <li>棉衣/棉服</li>
                            <li>连衣裙</li>
                            <li>针织衫</li>
                            <li>休闲裤</li>
                            <li>毛衣</li>
                            <li>毛呢外套</li>
                            <li>半身裙</li>
                            <li>T恤</li>
                            <li>棉衣/棉服</li>
                            <li>连衣裙</li>
                            <li>针织衫</li>
                            <li>休闲裤</li>
                            <li>毛衣</li>
                            <li>毛呢外套</li>
                            <li>半身裙</li>
                            <li>T恤</li>
                            <li>棉衣/棉服</li>
                        </ul>
                    </div>
                    <div class="ct_right">
                        <div class="mor">更多 <span>﹀</span></div>
                        <div class="none">收起 <span>︿</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bc"></div>
        <div class="bc_wrap">
            <div class="wrap_box">
                <div class="cw_left">
                    <span class="color">默认排序</span>
                <span class="spec">价格
                    <div class="box">
                        <div>价格从高到低</div>
                        <div>价格从低到高</div>
                    </div>
                </span>
                    <span>销量</span>
                    <span>收入比率</span>
                    <span>月推广量</span>
                    <span>月支出佣金</span>
                </div>
                <div class="cw_right">
                    <span class="mi"></span>
                    <div class="mi_inner">
                        <span><</span>
                        <span>1</span>
                        <span>/100</span>
                        <span>></span>
                    </div>
                </div>
            </div>
            <div class="wrap_inner">
                <div class="wi_lis">
                    <label>
                        <input type="checkbox"> 淘宝
                    </label>
                </div>
                <div class="wi_lis">
                    <label>
                        <input type="checkbox"> 金牌卖家
                    </label>
                </div>
                <div class="wi_lis">
                    <label>
                        <input type="checkbox"> 天猫
                    </label>
                </div>
                <div class="wi_lis">
                    <label>
                        <input type="checkbox"> 天猫旗舰店
                    </label>
                </div>
                <div class="wi_lis">
                    <label>
                        <input type="checkbox"> 店铺优惠券
                    </label>
                </div>
                <div class="wi_lis wi">
                    <span>月销量</span>
                    <input type="text" class="input">
                    <span>笔及以上</span>
                    <div class="wii wiit">
                        <span>月销量</span>
                        <input type="text" class="input">
                        <span>笔及以上</span>
                        <span class="dis">确认</span>
                    </div>
                </div>

                <div class="wi_lis wi">
                    <span>收入比率</span>
                    <input type="text" class="input">
                    <span>%-</span>
                    <input type="text" class="input">
                    <span>%</span>
                    <div class="wii wiit">
                        <span>收入比率</span>
                        <input type="text" class="input">
                        <span>%-</span>
                        <input type="text" class="input">
                        <span>%</span>
                        <span class="dis">确认</span>
                    </div>
                </div>
                <div class="wi_lis wi">
                    <span>价格</span>
                    <input type="text" class="input">
                    <span>元-</span>
                    <input type="text" class="input">
                    <span>元</span>
                    <div class="wii wiit">
                        <span>价格</span>
                        <input type="text" class="input">
                        <span>元-</span>
                        <input type="text" class="input">
                        <span>元</span>
                        <span class="dis">确认</span>
                    </div>
                </div>

            </div>
        </div>
        <div class="list_inner">
            {volist name="list" id="vo"}
            <div class="list">
                <div class="img_logo">
                    <a href="{:url('hot/item/index')}" target="_blank">
                        <img src="{$vo.pict_url}_230x230.jpg" alt="">
                    </a>
                </div>
                <p class="p_title"><a href="{$vo.item_url}" target="_blank">{$vo.title}</a></p>
                <div class="price">
                    <div class="p_left"><span>￥</span><span class="number">{$vo.zk_final_price}</span><span class="numbers">.00</span></div>
                    <div class="p_right"><span class="spe">月销：</span><span>{$vo.volume}</span></div>
                </div>
                <div class="cout">
                    <div class="c_left"><span>比率：</span><span class="number">5.</span><span class="numbers">00</span><span>%</span></div>
                    <div class="c_right"><span class="spe">佣金：</span><span>￥</span><span class="number">7</span><span>.98</span></div>
                </div>
                <div class="store">
                    <div class="store_box">
                        <div class="store_left">
                            <div class="sl_box">
                                <p><span class="spe"><img src="__IMG__/store.png" alt=""></span><span>{$vo.nick}</span></p>
                                <div class="so_inner"></div>
                            </div>
                        </div>
                        <div class="store_right">
                            <span><img src="__IMG__/st.png" alt=""></span>
                        </div>
                    </div>
                </div>
                <div class="chance">
                    <a href="{:url('hot/item/index')}" target="_blank">
                        <span class="chan_left">立即推广</span>
                    </a>
                    <span class="chan_right">选取</span>
                </div>
            </div>
            {/volist}
        </div>
        <div class="page">
            {$list->render()}
        </div>
    </div>
    <!-- footer-->

    {include file="../app/index/view/default/common/footer.html" /}
</div>

</body>
</html>