<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品详情</title>
    <link rel="stylesheet" href="__UPGRADE__/zq_cms_1/css/common.css">
    <link rel="stylesheet" href="__UPGRADE__/zq_cms_1/css/header.css">
    <link rel="stylesheet" href="__UPGRADE__/zq_cms_1/css/items.css">
    <link rel="stylesheet" href="__UPGRADE__/zq_cms_1/css/goods.css">
    <link rel="stylesheet" href="__UPGRADE__/zq_cms_1/css/footer.css">
</head>
<body>

<div class="body">

    <!-- header -->
    {include file="zq_cms_1/common/header" /}

    <!-- center -->
    <div class="center header-notice">
        <div class="goods-items">
            <div class="items-content">
                <div class="items-logo">
                    <img class="lazy" alt="雪玲妃 美白卸妆水 500ml" src="http://file.17gwx.com/sqkb/coupon/2017/12/21/_1513847484455275926">
                </div>
                <div class="items-info">
                    <span class="title">雪玲妃 美白卸妆水 500ml</span>
                    <p class="desc">买就送卸妆棉，买2送正装</p>
                    <div class="coupon-wrap">
                        <p class="coupon-price">
                            <span class="ori-price">现价：¥24.7</span>
                            <span class="price">券后价：&nbsp;¥
							<em class="int">19</em>
							<em class="decimal">.7</em>
						</span>
                        </p>
                        <div class="buy-area">

                            <p class="desc">有效期内领券下单，享受立减优惠！</p>
                            <a target="_blank" href="https://uland.taobao.com/coupon/edetail?e=XL1YwaBqsEgGQASttHIRqeEzM%2FJRNhnzUfkQOcmB9WdXdEL77USqHh4jHLheWrlf0nBQScQFBFxfIfIjFOE%2FYWjp926RHPMNZs6fBPmPlJFUDVLqupa8Lm7PVn13QcLNgPRfTgnhrZM%3D&amp;traceId=0ab84b4515165844637657498d08ef&amp;nowake=1&amp;tj1=1&amp;tj2=1" class="buy-btn">
                                领券立减<em>5</em>元
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="goods-online">
            <div class="online-box">
                <p class="head">
                    <span>排行榜</span>
                    <a href="/rank/" class="more-his">查看更多</a>
                </p>
                <div class="online-list">
                    <a href="/">
                        <div class="goods-mini">
                            <div class="goods-mini-logo">
                                <img src="http://gaitaobao2.alicdn.com/tfscom/i1/TB16Ti6PXXXXXc7aXXXXXXXXXXX_!!0-item_pic.jpg_400x400" alt="">
                            </div>
                            <div class="goods-mini-info">
                                <p class="goods-mini-title">健美创研 持久保湿不脱色口红 12支</p>
                                <div class="area"></div>
                                <div class="goods-mini-price">
                                    <span class="price">¥&nbsp;<em class="number-font">9</em>
								           <em class="decimal">.9</em>
							        </span>
                                    <span class="raw-price">¥88</span>
                                    <span class="month-sales">销量&nbsp;35233</span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="/">
                        <div class="goods-mini">
                            <div class="goods-mini-logo">
                                <img src="http://gaitaobao2.alicdn.com/tfscom/i1/TB16Ti6PXXXXXc7aXXXXXXXXXXX_!!0-item_pic.jpg_400x400" alt="">
                            </div>
                            <div class="goods-mini-info">
                                <p class="goods-mini-title">健美创研 持久保湿不脱色口红 12支</p>
                                <div class="area"></div>
                                <div class="goods-mini-price">
                                    <span class="price">¥&nbsp;<em class="number-font">9</em>
								           <em class="decimal">.9</em>
							        </span>
                                    <span class="raw-price">¥88</span>
                                    <span class="month-sales">销量&nbsp;35233</span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="/">
                        <div class="goods-mini">
                            <div class="goods-mini-logo">
                                <img src="http://gaitaobao2.alicdn.com/tfscom/i1/TB16Ti6PXXXXXc7aXXXXXXXXXXX_!!0-item_pic.jpg_400x400" alt="">
                            </div>
                            <div class="goods-mini-info">
                                <p class="goods-mini-title">健美创研 持久保湿不脱色口红 12支</p>
                                <div class="area"></div>
                                <div class="goods-mini-price">
                                    <span class="price">¥&nbsp;<em class="number-font">9</em>
								           <em class="decimal">.9</em>
							        </span>
                                    <span class="raw-price">¥88</span>
                                    <span class="month-sales">销量&nbsp;35233</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- like -->
    <div class="like header-notice">
        <div class="like-container">
            <p class="like-container-header"><span>猜你喜欢</span></p>
            <!-- center -->
            <div class="center header-notice">
                <div class="center-list">
                    <div class="center-list-inner">
                        <div class="goods-item">
                            <div class="goods-img">
                                <a href="/" target="_blank">
                                    <div class="is_new"></div>
                                    <div class="goods-lq">
                                        <div class="goods-lq-price">
                                            <p class="lq-price-d1">领券立减</p><p class="lq-price-d2">¥<span>80</span></p>
                                        </div>
                                    </div>
                                    <img alt="" class="lazy" src="https://img.alicdn.com/tfscom/i4/1974633863/TB2ErtFlCJjpuFjy0FdXXXmoFXa_!!1974633863.jpg_400x400">
                                </a>
                            </div>
                            <p class="goods-title">
                                <i class="tmall-icon"></i>
                                <span class="post-free">包邮</span>
                                绿瘦 魔芋纤维营养代餐奶昔 4盒...
                            </p>
                            <div class="goods-price">
                                现价：119
                                <p class="goods-sold">销量 1553</p>
                            </div>
                            <div class="goods-info">
                                <div class="goods-q-price">
                                    <span class="price-info">券后价：¥<em class="number-font">39</em><em class="decimal"></em></span>
                                </div>
                                <a href="/" class="buy-btn" target="_blank">立即抢购</a>
                            </div>
                        </div>
                        <div class="goods-item">
                            <div class="goods-img">
                                <a href="/" target="_blank">
                                    <div class="is_new"></div>
                                    <div class="goods-lq">
                                        <div class="goods-lq-price">
                                            <p class="lq-price-d1">领券立减</p><p class="lq-price-d2">¥<span>80</span></p>
                                        </div>
                                    </div>
                                    <img alt="" class="lazy" src="https://img.alicdn.com/tfscom/i4/1974633863/TB2ErtFlCJjpuFjy0FdXXXmoFXa_!!1974633863.jpg_400x400">
                                </a>
                            </div>
                            <p class="goods-title">
                                <i class="tmall-icon"></i>
                                <span class="post-free">包邮</span>
                                绿瘦 魔芋纤维营养代餐奶昔 4盒...
                            </p>
                            <div class="goods-price">
                                现价：119
                                <p class="goods-sold">销量 1553</p>
                            </div>
                            <div class="goods-info">
                                <div class="goods-q-price">
                                    <span class="price-info">券后价：¥<em class="number-font">39</em><em class="decimal"></em></span>
                                </div>
                                <a href="/" class="buy-btn" target="_blank">立即抢购</a>
                            </div>
                        </div>
                        <div class="goods-item">
                            <div class="goods-img">
                                <a href="/" target="_blank">
                                    <div class="is_new"></div>
                                    <div class="goods-lq">
                                        <div class="goods-lq-price">
                                            <p class="lq-price-d1">领券立减</p><p class="lq-price-d2">¥<span>80</span></p>
                                        </div>
                                    </div>
                                    <img alt="" class="lazy" src="https://img.alicdn.com/tfscom/i4/1974633863/TB2ErtFlCJjpuFjy0FdXXXmoFXa_!!1974633863.jpg_400x400">
                                </a>
                            </div>
                            <p class="goods-title">
                                <i class="tmall-icon"></i>
                                <span class="post-free">包邮</span>
                                绿瘦 魔芋纤维营养代餐奶昔 4盒...
                            </p>
                            <div class="goods-price">
                                现价：119
                                <p class="goods-sold">销量 1553</p>
                            </div>
                            <div class="goods-info">
                                <div class="goods-q-price">
                                    <span class="price-info">券后价：¥<em class="number-font">39</em><em class="decimal"></em></span>
                                </div>
                                <a href="/" class="buy-btn" target="_blank">立即抢购</a>
                            </div>
                        </div>
                        <div class="goods-item">
                            <div class="goods-img">
                                <a href="/" target="_blank">
                                    <div class="is_new"></div>
                                    <div class="goods-lq">
                                        <div class="goods-lq-price">
                                            <p class="lq-price-d1">领券立减</p><p class="lq-price-d2">¥<span>80</span></p>
                                        </div>
                                    </div>
                                    <img alt="" class="lazy" src="https://img.alicdn.com/tfscom/i4/1974633863/TB2ErtFlCJjpuFjy0FdXXXmoFXa_!!1974633863.jpg_400x400">
                                </a>
                            </div>
                            <p class="goods-title">
                                <i class="tmall-icon"></i>
                                <span class="post-free">包邮</span>
                                绿瘦 魔芋纤维营养代餐奶昔 4盒...
                            </p>
                            <div class="goods-price">
                                现价：119
                                <p class="goods-sold">销量 1553</p>
                            </div>
                            <div class="goods-info">
                                <div class="goods-q-price">
                                    <span class="price-info">券后价：¥<em class="number-font">39</em><em class="decimal"></em></span>
                                </div>
                                <a href="/" class="buy-btn" target="_blank">立即抢购</a>
                            </div>
                        </div>
                        <div class="goods-item">
                            <div class="goods-img">
                                <a href="/" target="_blank">
                                    <div class="is_new"></div>
                                    <div class="goods-lq">
                                        <div class="goods-lq-price">
                                            <p class="lq-price-d1">领券立减</p><p class="lq-price-d2">¥<span>80</span></p>
                                        </div>
                                    </div>
                                    <img alt="" class="lazy" src="https://img.alicdn.com/tfscom/i4/1974633863/TB2ErtFlCJjpuFjy0FdXXXmoFXa_!!1974633863.jpg_400x400">
                                </a>
                            </div>
                            <p class="goods-title">
                                <i class="tmall-icon"></i>
                                <span class="post-free">包邮</span>
                                绿瘦 魔芋纤维营养代餐奶昔 4盒...
                            </p>
                            <div class="goods-price">
                                现价：119
                                <p class="goods-sold">销量 1553</p>
                            </div>
                            <div class="goods-info">
                                <div class="goods-q-price">
                                    <span class="price-info">券后价：¥<em class="number-font">39</em><em class="decimal"></em></span>
                                </div>
                                <a href="/" class="buy-btn" target="_blank">立即抢购</a>
                            </div>
                        </div>
                        <div class="goods-item">
                            <div class="goods-img">
                                <a href="/" target="_blank">
                                    <div class="is_new"></div>
                                    <div class="goods-lq">
                                        <div class="goods-lq-price">
                                            <p class="lq-price-d1">领券立减</p><p class="lq-price-d2">¥<span>80</span></p>
                                        </div>
                                    </div>
                                    <img alt="" class="lazy" src="https://img.alicdn.com/tfscom/i4/1974633863/TB2ErtFlCJjpuFjy0FdXXXmoFXa_!!1974633863.jpg_400x400">
                                </a>
                            </div>
                            <p class="goods-title">
                                <i class="tmall-icon"></i>
                                <span class="post-free">包邮</span>
                                绿瘦 魔芋纤维营养代餐奶昔 4盒...
                            </p>
                            <div class="goods-price">
                                现价：119
                                <p class="goods-sold">销量 1553</p>
                            </div>
                            <div class="goods-info">
                                <div class="goods-q-price">
                                    <span class="price-info">券后价：¥<em class="number-font">39</em><em class="decimal"></em></span>
                                </div>
                                <a href="/" class="buy-btn" target="_blank">立即抢购</a>
                            </div>
                        </div>
                        <div class="goods-item">
                            <div class="goods-img">
                                <a href="/" target="_blank">
                                    <div class="is_new"></div>
                                    <div class="goods-lq">
                                        <div class="goods-lq-price">
                                            <p class="lq-price-d1">领券立减</p><p class="lq-price-d2">¥<span>80</span></p>
                                        </div>
                                    </div>
                                    <img alt="" class="lazy" src="https://img.alicdn.com/tfscom/i4/1974633863/TB2ErtFlCJjpuFjy0FdXXXmoFXa_!!1974633863.jpg_400x400">
                                </a>
                            </div>
                            <p class="goods-title">
                                <i class="tmall-icon"></i>
                                <span class="post-free">包邮</span>
                                绿瘦 魔芋纤维营养代餐奶昔 4盒...
                            </p>
                            <div class="goods-price">
                                现价：119
                                <p class="goods-sold">销量 1553</p>
                            </div>
                            <div class="goods-info">
                                <div class="goods-q-price">
                                    <span class="price-info">券后价：¥<em class="number-font">39</em><em class="decimal"></em></span>
                                </div>
                                <a href="/" class="buy-btn" target="_blank">立即抢购</a>
                            </div>
                        </div>
                        <div class="goods-item">
                            <div class="goods-img">
                                <a href="/" target="_blank">
                                    <div class="is_new"></div>
                                    <div class="goods-lq">
                                        <div class="goods-lq-price">
                                            <p class="lq-price-d1">领券立减</p><p class="lq-price-d2">¥<span>80</span></p>
                                        </div>
                                    </div>
                                    <img alt="" class="lazy" src="https://img.alicdn.com/tfscom/i4/1974633863/TB2ErtFlCJjpuFjy0FdXXXmoFXa_!!1974633863.jpg_400x400">
                                </a>
                            </div>
                            <p class="goods-title">
                                <i class="tmall-icon"></i>
                                <span class="post-free">包邮</span>
                                绿瘦 魔芋纤维营养代餐奶昔 4盒...
                            </p>
                            <div class="goods-price">
                                现价：119
                                <p class="goods-sold">销量 1553</p>
                            </div>
                            <div class="goods-info">
                                <div class="goods-q-price">
                                    <span class="price-info">券后价：¥<em class="number-font">39</em><em class="decimal"></em></span>
                                </div>
                                <a href="/" class="buy-btn" target="_blank">立即抢购</a>
                            </div>
                        </div>
                        <div class="goods-item">
                            <div class="goods-img">
                                <a href="/" target="_blank">
                                    <div class="is_new"></div>
                                    <div class="goods-lq">
                                        <div class="goods-lq-price">
                                            <p class="lq-price-d1">领券立减</p><p class="lq-price-d2">¥<span>80</span></p>
                                        </div>
                                    </div>
                                    <img alt="" class="lazy" src="https://img.alicdn.com/tfscom/i4/1974633863/TB2ErtFlCJjpuFjy0FdXXXmoFXa_!!1974633863.jpg_400x400">
                                </a>
                            </div>
                            <p class="goods-title">
                                <i class="tmall-icon"></i>
                                <span class="post-free">包邮</span>
                                绿瘦 魔芋纤维营养代餐奶昔 4盒...
                            </p>
                            <div class="goods-price">
                                现价：119
                                <p class="goods-sold">销量 1553</p>
                            </div>
                            <div class="goods-info">
                                <div class="goods-q-price">
                                    <span class="price-info">券后价：¥<em class="number-font">39</em><em class="decimal"></em></span>
                                </div>
                                <a href="/" class="buy-btn" target="_blank">立即抢购</a>
                            </div>
                        </div>
                        <div class="goods-item">
                            <div class="goods-img">
                                <a href="/" target="_blank">
                                    <div class="is_new"></div>
                                    <div class="goods-lq">
                                        <div class="goods-lq-price">
                                            <p class="lq-price-d1">领券立减</p><p class="lq-price-d2">¥<span>80</span></p>
                                        </div>
                                    </div>
                                    <img alt="" class="lazy" src="https://img.alicdn.com/tfscom/i4/1974633863/TB2ErtFlCJjpuFjy0FdXXXmoFXa_!!1974633863.jpg_400x400">
                                </a>
                            </div>
                            <p class="goods-title">
                                <i class="tmall-icon"></i>
                                <span class="post-free">包邮</span>
                                绿瘦 魔芋纤维营养代餐奶昔 4盒...
                            </p>
                            <div class="goods-price">
                                现价：119
                                <p class="goods-sold">销量 1553</p>
                            </div>
                            <div class="goods-info">
                                <div class="goods-q-price">
                                    <span class="price-info">券后价：¥<em class="number-font">39</em><em class="decimal"></em></span>
                                </div>
                                <a href="/" class="buy-btn" target="_blank">立即抢购</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    {include file="zq_cms_1/common/footer" /}

</div>

</body>
</html>