.footer {
    padding: 70px 0;
    background-color: #303848;
    color: #FFF;
    vertical-align: baseline;
    transition: left .4s ease-in;
    font-weight: 300;
    display: block;
}

.footer .footer-container {
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.footer .footer-container .footer-top {
    margin-left: -15px;
    margin-right: -15px;
    overflow: hidden;
}

.footer .footer-container .footer-top .footer-col-3 {
    width: 66.6666666667%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.footer .footer-container .footer-top .footer-col-3 .footer-col-link {
    margin-left: -15px;
    margin-right: -15px;
    overflow: hidden;
}

.footer .footer-container .footer-top .footer-col-3 .footer-col-link .footer-col-item {
    width: 29.3333333333%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.footer .footer-container .footer-top .footer-col-3 .footer-col-link .footer-col-item dt {
    margin-bottom: 20px;
    font-weight: bold;
    line-height: 1.428571429;
    font-size: 14px;
}

.footer .footer-container .footer-top .footer-col-3 .footer-col-link .footer-col-item dd {
    line-height: 28px;
}

.footer .footer-container .footer-top .footer-col-3 .footer-col-link .footer-col-item a {
    color: #adaeb3;
    cursor: pointer;
    font-size: 14px;
}

.footer .footer-container .footer-top .footer-col-1 {
    width: 27.3333333333%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.footer .footer-container .footer-top .footer-col-1 .footer-logo {
    display: inline-block;
    margin-left: -10px;
    padding: 15px 0 20px;
    cursor: pointer;
    color: #00A0DE;
    text-decoration: none;
    background-color: transparent;
}

.footer .footer-container .footer-top .footer-col-1 .footer-logo img {
    width: 125px;
    max-width: 100%;
    vertical-align: middle;
}

.footer .footer-container .footer-bottom {
    margin: 35px 0 20px;
    border-top: 1px solid #4C5461;
    font-size: 12px;
    overflow: hidden;
}

.footer .footer-container .footer-bottom .verify {
    float: right;
    margin-top: 25px;
}

.footer .footer-container .footer-bottom .verify .verify-logo {
    display: block;
    width: 70px;
    height: 60px;
    background-image: url(/index/img/verify.png);
    background-repeat: no-repeat;
    background-size: auto 60px;
    float: right;
    cursor: pointer;
}

.footer .footer-container .footer-bottom .verify .iso-logo {
    display: block;
    width: 75px;
    height: 60px;
    background-image: url(/index/img/verify.png);
    background-repeat: no-repeat;
    background-size: auto 60px;
    float: right;
    margin-right: 20px;
    cursor: pointer;
}

.footer .footer-container .footer-bottom .links {
    list-style: none;
    margin: 0;
    padding: 45px 0 10px;
}

.footer .footer-container .footer-bottom .links li {
    display: inline-block;
    padding: 0 14px;
    padding-left: 14px;
    margin: 7px 0;
    height: 14px;
    line-height: 14px;
    border-left: 1px solid #adaeb3;
}

.footer .footer-container .footer-bottom .links li a {
    color: #fff;;
}