<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页-钻群联盟</title>
    <link rel="stylesheet" href="__CSS__/common.css">
    <link rel="stylesheet" href="__CSS__/header.css">
    <link rel="stylesheet" href="__CSS__/index.css">
    <link rel="stylesheet" href="__CSS__/footer.css">
    <link rel="stylesheet" href="__COM__/layui/css/layui.css">
</head>
<body>

<div class="body">
    <!-- header -->
    {include file="default/common/header" /}

    <!-- banner -->
    <div class="banner">
        <div class="layui-carousel" id="zq-banner">
            <div carousel-item>
                <div class="banner-bg"></div>
            </div>
        </div>
    </div>

    <!-- content -->
    <div class="zq-info">
        <div class="zq-info-container">
            <h4>钻群联盟，专注于导购内容生态</h4>
            <div class="function-info">
                <div class="function-item item-1">
                    <h3>云选品库</h3>
                    <p>精选高佣，灵活检测</p>
                </div>
                <div class="function-item item-2">
                    <h3>二合一转链</h3>
                    <p>灵活转链方式，易于推广</p>
                </div>
                <div class="function-item item-3">
                    <h3>联盟CMS</h3>
                    <p>灵活部署，一键启用</p>
                </div>
                <div class="function-item item-4">
                    <h3>钻石CMS</h3>
                    <p>打造属于自己的用户数据</p>
                </div>
                <div class="function-item item-5">
                    <h3>QQ群发</h3>
                    <p>自动群发，无人看管</p>
                </div>
                <div class="function-item item-6">
                    <h3>微信群发</h3>
                    <p>自动群发，无人看管</p>
                </div>
                <div class="function-item item-7">
                    <h3>淘口令</h3>
                    <p>移动推广，部署简单</p>
                </div>
                <div class="function-item item-8">
                    <h3>自定义文案</h3>
                    <p>打造个性文案推广</p>
                </div>
                <div class="function-item item-9">
                    <h3>自主选品</h3>
                    <p>丰富内容库，自主选取</p>
                </div>
                <div class="function-item item-10">
                    <h3>微信公众号</h3>
                    <p>公众号托管</p>
                </div>
                <div class="function-item item-11">
                    <h3>小程序淘客</h3>
                    <p>一键生成，专注推广</p>
                </div>
                <div class="function-item item-12">
                    <h3>APP移动程序</h3>
                    <p>专属个人品牌</p>
                </div>
                <div class="function-item item-13">
                    <h3>自动高佣</h3>
                    <p>精选高佣，灵活检测</p>
                </div>
                <div class="function-item item-14">
                    <h3>API接口</h3>
                    <p>解放大脑，创意无限</p>
                </div>
            </div>
        </div>
    </div>

    <!-- introduce -->
    <div class="introduce">
        <title>钻群联盟-产品介绍</title>
        <div class="introduce-inner">
            <div class="co_box">
                <h2 class="cb_title">合作互赢</h2>
                <p class="cb_lo">我们热忱欢迎各大媒体、网站进行各类方式的合作</p>
                <div class="cb_inner">
                    <div class="cb_child first">
                        <div class="ch_logo">
                            <img src="__IMG__/new_media.png" alt="">
                        </div>
                        <div class="ch_inner">
                            <div class="ci_title">钻群号</div>
                            <p class="ci_inner">与各媒体、网站在各类文字资讯、专题报道等传播方面建立长期合作</p>
                        </div>
                    </div>
                    <div class="cb_child">
                        <div class="ch_logo">
                            <img src="__IMG__/new_adev.png" alt="">
                        </div>
                        <div class="ch_inner">
                            <div class="ci_title">内容合作</div>
                            <p class="ci_inner">双方利用现有的广告资源进行免费互换，为彼此带来流量和品牌提升</p>
                        </div>
                    </div>
                    <div class="cb_child">
                        <div class="ch_logo">
                            <img src="__IMG__/new_friend.png" alt="">
                        </div>
                        <div class="ch_inner">
                            <div class="ci_title">开放平台</div>
                            <p class="ci_inner">双方利用网站页面文字链接资源进行免费互链，提升网站流量与权重</p>
                        </div>
                    </div>
                    <div class="cb_child last">
                        <div class="ch_logo">
                            <img src="__IMG__/new_part.png" alt="">
                        </div>
                        <div class="ch_inner">
                            <div class="ci_title">其他合作方式</div>
                            <p class="ci_inner">包括但不限于线上活动支持、线下活动合作、联合报道等等</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg"></div>
    </div>

    <!-- solution -->
    <div class="solution">
        <div class="solution-container">
            <div class="solution-product">
                <span><title>钻群联盟方案、为您提供一站式导购推广解决方案</title></span>
            </div>
        </div>
        <div class="solution-bg">
            <div class="solution-bg-container">
                <ul>
                    <li>
                        <div class="mask">
                            <div class="bg"></div>
                            <div class="content"></div>
                        </div>
                    </li>
                    <li>
                        <div class="mask">
                            <div class="bg"></div>
                            <div class="content"></div>
                        </div>
                    </li>
                    <li>
                        <div class="mask">
                            <div class="bg"></div>
                            <div class="content"></div>
                        </div>
                    </li>
                    <li>
                        <div class="mask">
                            <div class="bg"></div>
                            <div class="content"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- news -->
    <div class="news">
        <div class="news-box">
            <div class="news-cap">
                <div class="cap-title">
                    钻群联盟的
                    <span>最新动态</span>
                </div>
                <div class="cap-more">为您提供最新网站公告、补丁更新、技术支持等信息，友价房产网源码每篇内容均经过核实</div>
            </div>
            <div class="news-col">
                <dl class="news-col-menu">
                    <dt class="news-tip">最新动态</dt>
                    <dt class="more">更多</dt>
                    <dd><span>[2018-01-22]</span>这是一条动态的信息内容</dd>
                    <dd><span>[2018-01-22]</span>这是一条动态的信息内容</dd>
                    <dd><span>[2018-01-22]</span>这是一条动态的信息内容</dd>
                    <dd><span>[2018-01-22]</span>这是一条动态的信息内容</dd>
                </dl>
            </div>
            <div class="news-col">
                <dl class="news-col-menu">
                    <dt class="news-tip">最新动态</dt>
                    <dt class="more">更多</dt>
                    <dd><span>[2018-01-22]</span>这是一条动态的信息内容</dd>
                    <dd><span>[2018-01-22]</span>这是一条动态的信息内容</dd>
                    <dd><span>[2018-01-22]</span>这是一条动态的信息内容</dd>
                    <dd><span>[2018-01-22]</span>这是一条动态的信息内容</dd>
                </dl>
            </div>
            <div class="news-col">
                <dl class="news-col-menu">
                    <dt class="news-tip">最新动态</dt>
                    <dt class="more">更多</dt>
                    <dd><span>[2018-01-22]</span>这是一条动态的信息内容</dd>
                    <dd><span>[2018-01-22]</span>这是一条动态的信息内容</dd>
                    <dd><span>[2018-01-22]</span>这是一条动态的信息内容</dd>
                    <dd><span>[2018-01-22]</span>这是一条动态的信息内容</dd>
                </dl>
            </div>
        </div>
        <div class="bg"></div>
    </div>

    <!-- footer -->
    {include file="default/common/footer" /}
</div>

<script src="__COM__/jquery.js"></script>
<script src="__COM__/layui/layui.js"></script>
<script>
    layui.use('carousel', function(){
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#zq-banner'
            ,width: '100%' //设置容器宽度
            ,arrow: 'always' //始终显示箭头
            ,height: '570'
            //,anim: 'updown' //切换动画方式
        });
    });
</script>
</body>
</html>