<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>开放平台首页-钻群联盟开放平台</title>
    <link rel="stylesheet" href="__OPEN_CSS__/index.css">
    <link rel="stylesheet" href="__OPEN_CSS__/header.css">
    <link rel="stylesheet" href="__OPEN_CSS__/footer.css">
    <link rel="stylesheet" href="__OPEN_CSS__/common.css">
</head>
<body>

<div class="body">

    <!-- header -->
    {include file="default/common/header" /}

    <!-- center -->
    <div class="center">
        <div class="center-banner">
            <div class="banner-slider-container">
                <div class="banner-slider-list">
                    <ol id="slider-container" style="position: relative;">
                        <li class="slider-item">
                            <div class="slide_con">
                                <h2 class="slide_con_title">第三方平台 开启公测</h2>
                                <p class="desc">全新的开放类型，让开发者帮助公众号解决垂直行业需求</p>
                                <p class="more"><a href="javascript:void(0);" class="link-btn">了解更多</a> </p>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="notice-box">
                <div class="notice-inner">
                    <div class="notice-inner-box">
                        <ul>
                            <li><a href="/">iOS开发工具包异常及修复建议 </a></li>
                        </ul>
                    </div>
                </div>
                <div class="bg"></div>
            </div>
        </div>

        <div class="container">
            <div class="container-inner">
                <div class="inner-box">
                    <ul class="inner">
                        <li class="sizeof4">
                            <div class="inner-size-box">
                                <dl>
                                    <dt>移动应用开发</dt>
                                    <dd class="content">接入微信开放平台，让你的移动应用支持微信分享、微信收藏和微信支付。</dd>
                                    <dd class="icon_site_desc app_dev"></dd>
                                </dl>
                            </div>
                        </li>
                        <li class="sizeof4">
                            <div class="inner-size-box">
                                <dl>
                                    <dt>网站应用开发</dt>
                                    <dd class="content">接入微信开放平台，让你的移动应用支持微信分享、微信收藏和微信支付。</dd>
                                    <dd class="icon_site_desc web-dev"></dd>
                                </dl>
                            </div>
                        </li>
                        <li class="sizeof4">
                            <div class="inner-size-box">
                                <dl>
                                    <dt>微信应用开发</dt>
                                    <dd class="content">接入微信开放平台，让你的移动应用支持微信分享、微信收藏和微信支付。</dd>
                                    <dd class="icon_site_desc wx-account"></dd>
                                </dl>
                            </div>
                        </li>
                        <li class="sizeof4">
                            <div class="inner-size-box">
                                <dl>
                                    <dt>插件应用开发</dt>
                                    <dd class="content">接入微信开放平台，让你的移动应用支持微信分享、微信收藏和微信支付。</dd>
                                    <dd class="icon_site_desc wx-plugin"></dd>
                                </dl>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    {include file="default/common/footer" /}
</div>

</body>
</html>