<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>钻群-管理中心</title>
    <link rel="stylesheet" href="__OPEN_CSS__/common.css">
    <link rel="stylesheet" href="__OPEN_CSS__/header.css">
    <link rel="stylesheet" href="__OPEN_CSS__/footer.css">
    <link rel="stylesheet" href="__OPEN_CSS__/manager.css">
    <link rel="stylesheet" href="/static/common/layui/css/layui.css">
</head>
<body>

<div class="body">

    <!-- header -->
    {include file="default/common/header" /}

    <!-- center -->
    <div class="center">
        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
            <ul class="layui-tab-title">
                <li class="layui-this">应用管理</li>
                <li>开发者管理</li>
                <li>授权中心</li>
            </ul>
            <div class="layui-tab-content"></div>
        </div>
    </div>

    <!-- footer -->
    {include file="default/common/footer" /}
</div>

<script src="/static/common/jquery.js"></script>
<script src="/static/common/layui/layui.js"></script>
</body>
</html>