<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>钻群-管理中心</title>
    <link rel="stylesheet" href="__OPEN_CSS__/common.css">
    <link rel="stylesheet" href="__OPEN_CSS__/header.css">
    <link rel="stylesheet" href="__OPEN_CSS__/footer.css">
    <link rel="stylesheet" href="__OPEN_CSS__/manager.css">
    <link rel="stylesheet" href="/static/common/layui/css/layui.css">
    <link rel="stylesheet" href="__COM__/form.css">
</head>
<body>

<div class="body">

    <!-- header -->
    {include file="default/common/header" /}

    <!-- center -->
    <div class="center">
        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
            <ul class="layui-tab-title">
                <a href="{:url('open/Manager/index')}"><li class="layui-this">应用管理</li></a>
                <a href="{:url('open/open/owner')}"><li>开发者管理</li></a>
            </ul>
            <div class="layui-tab-content">
                <div class="LAY-app-message-btns" style="margin-bottom: 10px;">
                    <a class="layui-btn layui-btn-primary layui-btn-sm">删除</a>
                    <a class="layui-btn layui-btn-primary layui-btn-sm" id="create_web">创建应用</a>
                </div>
                <div class="layui-form layui-border-box layui-table-view">
                    <div class="layui-table-box">
                        <div class="layui-table-header link-table-header">
                        </div>
                        <div class="layui-table-body layui-table-main">
                            <table id="app"></table>
                        </div>
                        <style>
                            .laytable-cell-3-0{ width: 48px; }
                            .laytable-cell-3-title{ width: 830px; }
                            .laytable-cell-3-time{ width: 170px; }
                        </style>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    {include file="default/common/footer" /}
</div>

<script src="/static/common/jquery.js"></script>
<script src="__COM__/layer/layer.js"></script>
<script src="/static/common/layui/layui.js"></script>

<script>
    layui.use(['table','element'], function(){
        var table = layui.table;
        var element = layui.element;

        //第一个实例
        table.render({
            elem: '#app'
            ,height: 488
            ,url: '/create/application/' //数据接口
            ,page: true //开启分页
            ,cols: [[ //表头
                {field: 'id', title: 'ID', width:80, sort: true, fixed: 'left'}
                ,{field: 'web_name', title: '网站名称', width:280}
                ,{field: 'web_domain', title: '网站域名', width:280, sort: true}
                ,{field: 'beian', title: '备案信息', width:380}
                ,{field: 'status', title: '提交状态', width: 173}
            ]]
        });

    });

    $(document).on('click','#create_web',function () {
        layer.open({
            type: 2,
            title: '创建网站应用',
//            maxmin: true,
            shadeClose: true, //点击遮罩关闭层
            area : ['680px' , '520px'],
            content: "{:url('open/CreateInfo/createWeb')}"
        });
    });
</script>
</body>
</html>