<div class="footer">
    <div class="footer-container">
        <div class="footer-top">
            <div class="footer-col-3">
                <div class="footer-col-link">
                    <div class="footer-col-item">
                        <dl>
                            <dt>淘客解决方案</dt>
                            <dd><a href="/">网站CMS应用</a></dd>
                            <dd><a href="/">微信公众号系统</a></dd>
                            <dd><a href="/">淘客小程序</a></dd>
                            <dd><a href="/">移动App</a></dd>
                            <dd><a href="/">高级网站CMS应用</a></dd>
                            <dd><a href="/">精品单页</a></dd>
                        </dl>
                    </div>
                    <div class="footer-col-item">
                        <dl>
                            <dt>钻群产品服务</dt>
                            <dd><a href="{:url('open/index/index')}" target="_blank">开放平台</a></dd>
                            <dd><a href="{:url('mp/index/index')}" target="_blank">钻群号</a></dd>
                            <dd><a href="{:url('hot/index/index')}" target="_blank">选品库</a></dd>
                            <dd><a href="/">应用市场</a></dd>
                            <dd><a href="/">开发平台</a></dd>
                            <dd><a href="/">网站联盟</a></dd>
                            <dd><a href="/">黑名单</a></dd>
                            <dd><a href="/">api接口</a></dd>
                            <dd><a href="/">自助转链工具</a></dd>
                            <dd><a href="/">群发机器人</a></dd>
                        </dl>
                    </div>
                    <div class="footer-col-item">
                        <dl>
                            <dt>帮助/教程中心</dt>
                            <dd><a href="/">网站cms设置</a></dd>
                            <dd><a href="/">淘客app生成</a></dd>
                            <dd><a href="/">小程序使用</a></dd>
                            <dd><a href="/">微信公众号教程</a></dd>
                            <dd><a href="/">常见问题</a></dd>
                            <dd><a href="/">入门指南</a></dd>
                            <dd><a href="/">客服中心</a></dd>
                            <dd><a href="/">api使用教程</a></dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="footer-col-1">
                <a href="/" class="footer-logo">
                    <img alt="七牛云" src="https://www.qiniu.com/assets/logo-b5caafe0363dace7b5c0a00be38a4829444918c4322a6168714522ee19dcb1c1.png">
                </a>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="verify">
                <a target="_blank" rel="noopener" href="http://www.dca.org.cn/" class="verify-logo" title="可信云"></a>
                <a target="_blank" rel="noopener" href="#" class="iso-logo" title="iso"></a>
            </div>
            <div class="links">
                <ul>
                    <li><div class="copyright">© 2018 钻群联盟</div></li>
                    <li><a href="/user-agreement">用户协议</a></li>
                    <li><a href="/sla-kodo">SLA</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>