<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>二合一转链-淘客工具-钻群联盟开放平台</title>
    <link rel="stylesheet" href="__COM__/util.css">
    <link rel="stylesheet" href="__OPEN_CSS__/common.css">
    <link rel="stylesheet" href="__OPEN_CSS__/header.css">
    <link rel="stylesheet" href="__OPEN_CSS__/footer.css">
    <link rel="stylesheet" href="__OPEN_CSS__/tool.css">
    <link rel="stylesheet" href="__COM__/layui/css/layui.css">
    <link rel="stylesheet" href="__COM__/form.css">
</head>
<body>

<div class="body">

    <!-- header -->
    {include file="default/common/header" /}

    <!-- 工具栏 -->
    {include file="default/common/tool-bar" /}

    <!-- center -->
    <div class="center">
        <div class="layui-fluid tool-form">
            <div class="layui-card-header">二合一转链</div>
            <div class="layui-card-body">
                <form class="layui-form" action="" lay-filter="component-form-group">
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <input id="active-link" type="text" name="active-link" placeholder="请输入优惠券链接" class="layui-input title">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <input id="goods-link" type="text" name="goods-link" placeholder="请输入商品链接" class="layui-input title">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <input type="text" name="username" placeholder="请输入淘宝pid" class="layui-input title">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">定向计划</label>
                        <div class="layui-input-block">
                            <input type="checkbox" checked="" name="open" lay-skin="switch" lay-text="ON|OFF"><div class="layui-unselect layui-form-switch layui-form-onswitch" lay-skin="_switch"><em>ON</em><i></i></div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <div class="link-footer">
                                <a id="push" class="layui-btn" >立即生成</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- footer -->
    {include file="default/common/footer" /}
</div>

<script src="__COM__/jquery.js"></script>
<script src="__COM__/layer/layer.js"></script>

<script>
    $(document).on('click','#push',function(){
        if($('#active-link').val() == ''){
            layer.msg('优惠券链接不能为空');
            return false;
        }
        if($('#goods-link').val() == ''){
            layer.msg('商品链接不能为空');
            return false;
        }
        var data = $('#doc').serialize();
        request("{:url('open/tool/doc/type/api')}",data,function(res){
            if (res.code == 1) {
                console.log(res);
                layer.msg(res.msg, {icon: res.code});
//                console.log(document.cookie);
//                redirect("{:url('user/user/index')}");
            } else {
                layer.msg(res.msg, {icon: res.code});
            }
        });
    });
</script>

</body>
</html>