<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{block name="title"}公共继承标题{/block}</title>
    <link href="__COM__/editor.md/css/editormd.min.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="__OPEN_CSS__/base.css">
    <script src="__COM__/jquery.js"></script>
</head>
<body>
{block name="main"}主内容{/block}
</body>
<script src="__COM__/editor.md/lib/marked.min.js"></script>
<script src="__COM__/editor.md/lib/prettify.min.js"></script>
<script src="__COM__/editor.md/editormd.min.js"></script>
<script>
//    layui.use('code', function(){ //加载code模块
//        layui.code({
//            title: '钻群API接口'
//            ,skin: 'notepad'
//            ,about: false
//        }); //引用code方法
//
//    });
</script>
</html>