<!--header 顶部开始-->
<div class="header_top">
    <div class="ht_box">
        <div class="hd_left">
            <ul>
                <li><a href="{:url('auth/login/index')}" target="_blank">亲，请登录</a></li>
                <li><a href="{:url('auth/register/index')}" target="_blank">我要注册</a></li>
                <li>我的联盟</li>
                <li>返回联盟首页</li>
            </ul>
        </div>
        <div class="hd_right">
            <ul>
                <li>阿里妈妈首页</li>
                <li>营销平台</li>
                <li>数据中心</li>
                <li>媒体合作</li>
                <li>万堂书院</li>
                <li>服务</li>
            </ul>
        </div>
    </div>
</div>