<!--header 顶部开始-->
<div class="header_top">
    <div class="ht_box">
        <div class="hd_left">
            <ul>
                <li><a href="{:url('auth/login/index')}" target="_blank">亲，请登录</a></li>
                <li><a href="{:url('auth/register/index')}" target="_blank">我要注册</a></li>
                <li><a href="{:url('user/user/index')}" target="_blank">我的联盟</a></li>
            </ul>
        </div>
        <div class="hd_right">
            <ul>
                <li><a href="http://www.zuanqun.com:8080" target="_blank">钻群联盟首页</a></li>
                <li><a href="{:url('open/index/index')}" target="_blank">开放平台</a></li></li>
                <li><a href="{:url('seller/index/index')}" target="_blank">钻群号</a></li>
                <li>导购产品</li>
            </ul>
        </div>
    </div>
</div>
<!--header 中部开始-->
<div class="header_middle">
    <div class="hm_box">
        <div class="hm_left">
            <img src="__HOT_IMG__/logo.png" alt="" width="158">
        </div>
        <div class="hm_right">
            <div class="search_box">
                <div class="s_l"><input type="text" placeholder="  请输入您要搜索的商品名称或链接"><span class="search">搜女装</span></div>
                <div class="s_r">搜全贴</div>
            </div>
        </div>
    </div>
</div>