<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>钻群-资源中心</title>
    <link rel="stylesheet" href="__OPEN_CSS__/common.css">
    <link rel="stylesheet" href="__OPEN_CSS__/header.css">
    <link rel="stylesheet" href="__OPEN_CSS__/footer.css">
    <link rel="stylesheet" href="__OPEN_CSS__/source.css">
</head>
<body>

<div class="body">

    <!-- header -->
    {include file="default/common/header" /}

    <!-- center -->
    <div class="center">
        <div class="col-side">
            <div class="side-menu">
                <dl>
                    <dt>API调用说明</dt>
                </dl>
            </div>
        </div>
        <div class="col-main">
            <iframe class="res_iframe" src="/wiki/apiInfo" id="iframe" onload="setIframeHeight(this)"></iframe>
        </div>
    </div>

    <!-- footer -->
    {include file="default/common/footer" /}
</div>
<script src="__COM__/util.js"></script>
<!--<script>-->

    <!--$(function(){-->
        <!--window.onload = function () {-->
            <!--setIframeHeight(document.getElementById('iframe'));-->
        <!--};-->
    <!--})-->
<!--</script>-->

</body>
</html>