{extend name="default/base/base" /}
{block name="main"}
<link rel="stylesheet" href="/static/console/default/css/form.css">
<div class="link-body">
    <div class="link-item">
        <div class="layui-fluid">
            <div class="layui-card-header">API文档管理</div>
            <div class="layui-card-body">
                <div class="zq-form">
                    <form id="doc" class="layui-form" lay-filter="component-form-group">
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <input id="title" type="text" name="title" autocomplete="off" placeholder="请输入标题" class="layui-input title">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <input id="cat" type="text" name="cat" placeholder="请输入" autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <div id="markdown">
                                <textarea id="apidoc" name="apidoc" style="display: none;"></textarea>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <div class="link-footer">
                                    <a class="layui-btn" id="push">立即发布</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var markdown;
        markdown = editormd("markdown", {
            width   : "99.5%",
            height  : 380,
            syncScrolling : "single",
            path    : "__COM__/editor.md/lib/"
        });
    });
    $(document).on('click','#push',function(){
        if($('#title').val() == ''){
            layer.msg('文档标题不能为空');
            return false;
        }
        if($('#apidoc').val() == ''){
            layer.msg('文档内容不能为空');
            return false;
        }
        var data = $('#doc').serialize();
        request("{:url('console/Article/doc/type/api')}",data,function(res){
            if (res.code == 1) {
                console.log(res);
                layer.msg(res.msg, {icon: res.code});
//                console.log(document.cookie);
//                redirect("{:url('user/user/index')}");
            } else {
                layer.msg(res.msg, {icon: res.code});
            }
        });
    });
</script>

{/block}