<div class="header">
    <div class="header-bar">
        <div class="header-notice">
            <p class="coll-desc">按<strong>Ctrl&nbsp;+&nbsp;D</strong>,把省钱快报放入收藏夹，优惠券信息一手掌握！</p>
        </div>
    </div>
    <div class="header-top">
        <div class="header-notice">
            <a class="header-logo">
                <img src="http://s1.51sqkb.com/dist/img/logo-ef4e6a15ac.png" alt="省钱快报">
            </a>
            <div class="header-search">
                <div class="search-input-box">
                    <i></i>
                    <input type="text" placeholder="请输入关键词" class="search-type">
                </div>
            </div>
            <a class="header-search-btn"></a>
        </div>
    </div>
    <div class="header-nav">
        <div class="header-inner">
            <div class="header-notice">
                <div class="header-nav-left">
                    <a class="nav-item nav-index active">精选推荐</a>
                    <a class="nav-item">9块9包邮</a>
                </div>
            </div>
        </div>
    </div>

</div>